/* @import url("https://unpkg.com/sanitize.css");
@import url("https://unpkg.com/sanitize.css/assets.css");
@import url("https://unpkg.com/sanitize.css/typography.css");
@import url("https://unpkg.com/sanitize.css/reduce-motion.css");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap"); */

@font-face {
    font-family: "Saira Stencil One";
    src: local("Saira Stencil One"),
        local("Saira-Stencil-One"),
        local("Saira Stencil One Regular"),
        local("Saira-Stencil-One-Regular"),
        url("https://jacktilded.github.io/files/fonts/saria-stencil-one/SairaStencilOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gugi";
    src: local("Gugi"),
        local("Gugi Regular"),
        local("Gugi-Regular"),
        url("https://jacktilded.github.io/files/fonts/gugi/Gugi-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --clr-background: #333;
    --clr-on-background: #111;
    --clr-paragraph: #FF9;
    --clr-accent: #B22;
    --clr-accent-dark: #700;
    --clr-on-accent: #FFF;
    --ff-paragraph: "Times New Roman",
        "Times",
        "Georgia",
        "Baskerville",
        "Garamond",
        "Apple Garamond",
        "Cambria",
        serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --ff-heading: "Saira Stencil One",
        "Stencil",
        "Courier New",
        "Arial Black",
        "Impact",
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --ff-tertiary: "Gugi",
        "Arial",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --notched-corners: polygon(
        0 1.2rem,
        1.2rem 0,
        calc(100% - 1.2rem) 0,
        100% 1.2rem,
        100% calc(100% - 1.2rem),
        calc(100% - 1.2rem) 100%,
        1.2rem 100%,
        0 calc(100% - 1.2rem),
        0 1.2rem
    );
}

html {
    background-color: var(--clr-background);
    color: var(--ff-paragraph);
}

.header .nav-bar {
    background-color: var(--clr-accent);
    color: var(--clr-on-accent);
}

.header .nav-bar ul {
    align-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.header .nav-bar li {
    padding: 0.2rem;
}

.header .nav-bar a {
    color: var(--clr-on-accent);
    font-family: var(--ff-tertiary);
    text-decoration: none;
}

.header .nav-bar h1 {
    color: var(--clr-on-accent);
    font-family: var(--ff-tertiary);
    text-decoration: none;
}

.middle {
    background-color: var(--clr-on-background);
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: 32rem;
}

.middle h1 {
    color: var(--clr-accent);
    font-family: var(--ff-heading);
}

.middle p {
    color: var(--clr-paragraph);
    font-family: var(--ff-paragraph);
}

.footer p {
    color: #FFF;
    font-family: var(--ff-paragraph);
}
