.codex-nav {
    align-content: center;
    align-items: center;
    background-color: var(--clr-background-beta);
    box-shadow: 0 0.06rem 0 0.06rem var(--clr-background-alpha);
    list-style: none;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.codex-nav__item {
    text-align: center;
    padding: 0.1rem 1rem;
    font-family: sans-serif;
    font-family: var(--ff-tertiary);
    font-weight: bolder;
}

.codex-nav__link {
    color: #FFF;
    color: var(--clr-paragrah);
    text-decoration: none;
}

.codex-list__title a {
    color: var(--clr-paragraph);
}

.codex-list__date {
    color: #B22;
    color: var(--clr-accent-alpha);
    flex-grow: 1;
    text-align: right;
    visibility: hidden;
    width: 0;
    height: 0;
}

@media (min-width: 32em) {
    .codex-list li {
        display: flex;
    }
    .codex-list__date {
        visibility: visible;
        height: 1rem;
        width: max-content;
    }
}

@media (min-width: 40em) {
    .codex-list__date::before {
        content: "Posted: ";
    }
}

.codex-main {
    font-family: "Times New Roman", "Times", serif;
    font-family: var(--ff-paragraph);
}

.message {
    background-color: #111;
    background-color: var(--clr-background-beta);
    clip-path: var(--notched-corners);
    color: #FFF;
    color: var(--clr-paragraph);
    font-family: "Times New Roman", "Times", serif;
    font-family: var(--ff-paragraph);
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    min-height: 2rem;
    width: var(--std-width);
    max-width: var(--std-max-width);
    font-size: 1.2rem;
    line-height: 1.6em;
}

.message-header,
.message-centered {
    color: #B22;
    color: var(--clr-accent-alpha);
    font-family: "Courier New", monospace;
    font-family: var(--ff-heading);
    font-size: 1.4rem;
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    line-height: 2.5rem;
    text-transform: uppercase;
}

.message-body {
    color: var(--clr-paragraph);
}

@media (min-width: 32em) {
    .message-body {
        padding-left: 1.5rem;
        text-align: justify;
        hyphens: auto;
    }
}

.message-centered {
    text-align: center;
}
.big-quote {
    font-style: italic;
}

@media (min-width: 32em) {
    .big-quote {
        padding-left: 3rem;
    }
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.blue {
    color: cadetblue
}
@media (min-width: 16em) {
    .indented {
        text-indent: 6ch;
    }
}

.align-right {
    text-align: right;
}

.codex-nav__link {
    opacity: 0.1;
    cursor: default;
}

.codex-nav--enable {
    opacity: 1;
}

.expand-button {
    cursor: pointer;
    display: block;
}

.expand-button::before {
    content: "+ ";
}

.expand-button.expanded::before {
    content: "– ";
}

.expand-button.expanded {
    opacity: 0.5;
}

.expand-button.expanded {
    text-decoration: none;
}

.message img {
    display: block;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    margin: 0 auto;
}

/* Jack~D */