@font-face {
    font-family: "Saira Stencil One";
    src: url("https://JackTildeD.github.io/zano/fonts/SairaStencilOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gugi";
    src: url("https://JackTildeD.github.io/zano/fonts/Gugi-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

:root {
    --clr-background-alpha: #333;
    --clr-background-beta: #111;
    --clr-accent-alpha: #B22;
    --clr-accent-text: #FFF;
    --clr-paragraph: #FF9;
    --clr-heading: #B22;
    --clr-tertiary: #FFF;
    --ff-paragraph: "Times New Roman",
        "Times",
        "Georgia",
        "Baskerville",
        "DejaVu Serif",
        "Liberation Serif",
        "Cambria",
        "Garamond",
        "Apple Garamond",
        serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --ff-heading: "Saira Stencil One",
        "Stencil",
        "Courier New",
        "Arial Black",
        "Impact",
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --ff-tertiary: "Gugi",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        "Calibri",
        "DejaVu Sans",
        "Liberation Sans",
        "Roboto",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --notched-corners: polygon(
        0 1rem,
        1rem 0,
        calc(100% - 1rem) 0,
        100% 1rem,
        100% calc(100% - 1rem),
        calc(100% - 1rem) 100%,
        1rem 100%,
        0 calc(100% - 1rem),
        0 1rem
    );
    --std-width: 98%;
    --std-max-width: 60rem;
}

html {
    background-color: var(--clr-background-alpha);
    color: var(--ff-paragraph);
}

body::-webkit-scrollbar {
    width: 1rem;
}
body::-webkit-scrollbar-corner,
body::-webkit-scrollbar-track {
    background-color: var(--clr-background-beta);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-alpha);
}

.aliased {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.fade-in {
    opacity: 0;
    transition: opacity ease-in-out 300ms ;
}
.fade-in.appear {
    opacity: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.common-banner,
.common-banner__star-field {
    overflow: hidden;
}

.common-banner {
    background-color: #111;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
}

@media (min-width: 32em) {
    .common-banner {
        height: 15rem;
        opacity: 1;
        visibility: visible;
    }
}

.common-banner__star {
    animation: twinkle 10s ease-in-out infinite;
    opacity: 1;
    position: absolute;
    z-index: 1;
}
@keyframes twinkle {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.25;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.common-banner__star::before,
.common-banner__star::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    
}
.common-banner__star::before {
    height: 3px;
    transform: translate(0, -1px);
    width: 1px;
}
.common-banner__star::after {
    height: 1px;
    transform: translate(-1px, 0px);
    width: 3px;
}

.common-banner__main {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    z-index: 9;
    position: relative;
}

.common-banner__station,
.common-banner__probe {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
@keyframes floating-probe { 
    0% {
        transform: translate(-50%, -51%);
    }
    50% {
        transform: translate(-50%, -53.5%);
    }
    100% {
        transform: translate(-50%, -51%);
    } 
} 
.common-banner__probe {
    animation: floating-probe 6s ease-in-out infinite;
}

.common-nav {
    align-content: center;
    align-items: center;
    background-color: #B22;
    background-color: var(--clr-accent-alpha);
    color: #FFF;
    color: var(--clr-tertiary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.common-nav__item {
    color: var(--clr-accent-text);
    font-family: sans-serif;
    font-family: var(--ff-tertiary);
    margin: 0.2rem;
}

.common-nav__link {
    color: var(--clr-accent-text);
    text-decoration: none;
}

.common-footer {
    background-color: #111;
    background-color: var(--clr-background-beta);
    box-shadow: 0rem 1000px 0rem 1000px #111;
    box-shadow: 0 100vmax 0 100vmax var(--clr-background-beta);
}

.common-footer__item {
    color: #FF9;
    color: var(--clr-paragraph);
    font-family: serif;
    font-family: var(--ff-paragraph);
    margin: 0 auto;
    max-width: 60rem;
    max-width: var(--std-max-width);
    opacity: 0.4;
    width: 98%;
    width: var(--std-width);
}

/* Jack~D */