/* *** 80 cols ************************************************************** */
/*  |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   | */
@font-face {
    font-family: "Saira Stencil One";
    src: url(
        "https://JackTildeD.github.io/zano/fonts/SairaStencilOne-Regular.woff2"
    ) format("woff2"),
        url(
          "https://JackTildeD.github.io/zano/fonts/SairaStencilOne-Regular.woff"
        ) format("woff"),
        url(
           "https://JackTildeD.github.io/zano/fonts/SairaStencilOne-Regular.tff"
        ) format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gugi";
    src: url(
        "https://JackTildeD.github.io/zano/fonts/Gugi-Regular.woff2"
    ) format("woff2"),
        url(
            "https://JackTildeD.github.io/zano/fonts/Gugi-Regular.woff"
        ) format("woff"),
        url(
            "https://JackTildeD.github.io/zano/fonts/Gugi-Regular.ttf"
        ) format("tff");
    font-weight: normal;
    font-style: normal;
}
:root {
    /* Colors */
    --clr-background-alpha: #333;
    --clr-background-beta: #111;
    --clr-accent-alpha: #B22;
    --clr-accent-beta: #FFF;
    --clr-paragraph: #FFB;
    --clr-heading: #B22;
    --clr-tertiary: #FFF;
    /* Font stacks */
    --ff-paragraph: "Times New Roman",
        "Times",
        "Georgia",
        "Baskerville",
        "DejaVu Serif",
        "Liberation Serif",
        "Cambria",
        "Garamond",
        "Apple Garamond",
        serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --fs-paragraph: clamp(1.1rem, 2.5vw, 1.25rem);
    --ff-heading: "Saira Stencil One",
        "Stencil",
        "Courier New",
        "Arial Black",
        "Impact",
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --fs-heading: clamp(1.1rem, 3.5vw, 1.6rem);
    --ff-tertiary: "Gugi",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        "Calibri",
        "DejaVu Sans",
        "Liberation Sans",
        "Roboto",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --fs-tertiary: clamp(1.1rem, 2.5vw, 1.3rem);
    --ff-monospace: "Menlo",
        "Consolas",
        "Roboto Mono",
        "Ubuntu Monospace",
        "Noto Mono",
        "Oxygen Mono",
        "Liberation Mono",
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --fs-monospace: clamp(1.0rem, 2.5vw, 1.2rem);
    /* Other */
    --notched-corners: polygon(
        0 1rem,
        1rem 0,
        calc(100% - 1rem) 0,
        100% 1rem,
        100% calc(100% - 1rem),
        calc(100% - 1rem) 100%,
        1rem 100%,
        0 calc(100% - 1rem),
        0 1rem
    );
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-background-alpha);
    color: var(--ff-paragraph);
    margin: 0 0.1rem;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-corner,
body::-webkit-scrollbar-track {
    background-color: var(--clr-background-beta);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-alpha);
}

.fade-in {
    opacity: 0;
    transition: opacity ease-in-out 300ms;
}

.fade-in.appear {
    opacity: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.common-banner,
.common-banner__star-field {
    overflow: hidden;
}

.common-banner {
    background-color: #111;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
}

@media (min-width: 32em) {
    .common-banner {
        height: 15rem;
        opacity: 1;
        visibility: visible;
    }
}

.common-banner__star {
    animation: twinkle 10s ease-in-out infinite;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    4% {
        opacity: 0.25;
    }
    8% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.common-banner__star::before,
.common-banner__star::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    
}

.common-banner__star::before {
    height: 3px;
    transform: translate(0, -1px);
    width: 1px;
}

.common-banner__star::after {
    height: 1px;
    transform: translate(-1px, 0px);
    width: 3px;
}

.common-banner__main {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    z-index: 9;
    position: relative;
}

.common-banner__station,
.common-banner__probe {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@keyframes floating-probe { 
    0% {
        transform: translate(-50%, -52%);
    }
    50% {
        transform: translate(-50%, -53.5%);
    }
    100% {
        transform: translate(-50%, -52%);
    }
}

.common-banner__probe {
    animation: floating-probe 6s ease-in-out infinite;
}

.common-nav {
    align-content: center;
    align-items: center;
    background-color: #B22;
    background-color: var(--clr-accent-alpha);
    color: #FFF;
    color: var(--clr-tertiary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.common-nav__item {
    color: var(--clr-accent-text);
    font-family: sans-serif;
    font-family: var(--ff-tertiary);
    font-size: var(--fs-tertiary);
    margin: 0.2rem;
}

.common-nav__link {
    color: var(--clr-accent-text);
    text-decoration: none;
}

.common-footer {
    background-color: #111;
    background-color: var(--clr-background-beta);
    box-shadow: 0rem 1000px 0rem 1000px #111;
    box-shadow: 0 100vmax 0 100vmax var(--clr-background-beta);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
}

.common-footer__item {
    color: #FF9;
    color: var(--clr-paragraph);
    font-family: serif;
    font-family: var(--ff-paragraph);
    font-size: 0.9rem;
    opacity: 0.7;
    padding: 0 0.2rem;
}

.common-footer__item a {
    color: #FF9;
    color: var(--clr-paragraph);
}

.common-footer__item--right {
    text-align: right;
}

/* *** 80 cols ************************************************************** */

.codex_output {
    color: #FFB;
    color: var(--clr-paragraph);
    font-family: serif;
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    line-height: 1.6em;
    max-width: 60rem;
    margin: 0 auto;
    width: 98%;
}

.post {
    background-color: #111;
    background-color: var(--clr-background-beta);
    clip-path: var(--notched-corners);
    color: #FFB;
    color: var(--clr-paragraph);
    line-height: 1.6em;
    margin: 0.5rem auto;
    max-width: 60rem;
    min-height: 2rem;
    padding: 1rem;
    width: 100%;
}

.post-header,
.post-centered {
    color: #B22;
    color: var(--clr-accent-alpha);
    font-family: "Stencil", "Courier New", monospace;
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    text-transform: uppercase;
}

.aliased,
.aliased img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.post-centered,
.align-center {
    text-align: center;
}

.post-header,
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.auto-hyphens {
    hyphens: auto;
}

.manual-hyphens {
    hyphens: manual;
}

.fully-justify {
    text-align: justify;
}

@media (min-width: 30em) {
    .smart-justify {
        text-align: justify;
    }
}

@media (min-width:30em) {
    .shift-1 {
        padding-left: 1.5rem;
    }
    .shift-2 {
        padding-left: 3rem;
    }
    .shift-3 {
        padding-left: 4.5rem;
    }
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.wavey-red {
    text-decoration: crimson wavy underline;
}

.blue {
    color: cadetblue;
}

.red {
    color: crimson;
}

.pink {
    color: hotpink;
}

.orange {
    color: tomato;
}

.yellow {
    color: khaki;
}

.green {
    color: mediumaquamarine;
}

.purple {
    color: mediumpurple;
}

.brown {
    color: goldenrod;
}

.white {
    color: seashell;
}

.grey {
    color: darkgray;
}

@media (min-width: 16em) {
    .indented {
        text-indent: 6ch;
    }
}

.expand-next-button,
.expand-following-button {
    cursor: pointer;
    display: block;
}

.expand-next-button p::before,
.expand-following-button p::before {
    content: "+ ";
}

.expand-next-button.expanded p::before,
.expand-following-button.expanded p::before {
    content: "– ";
}

.expand-next-button.expanded,
.expand-following-button.expanded {
    opacity: 0.5;
}

.expand-next-button.expanded,
.expand-following-button.expanded {
    text-decoration: none;
}

@media (min-width: 20em) {
    .hexagon-icon {
        float: left;
        margin: 0 1rem 0.1rem 0;
        shape-outside: polygon(
            29px -8px,
            116px -8px,
            157px 63px,
            117px 133px,
            29px 134px,
            -10px 62px
        );
    }
}


.codex_output hr {
    color: var(--clr-accent-alpha);
}

.codex_output img {
    display: block;
    margin: 0.1rem auto;
}

.codex_output pre {
    font-family: var(--ff-monospace);
    font-size: var(--fs-monospace);
    line-height: 1em;
}

/* Jack~D */

